@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: white !important; /* Fallback */
  @apply bg-white dark:bg-gray-900 !important;
}

@layer utilities {
  @keyframes wave1 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes wave2 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  @keyframes wave3 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-wave1 {
    animation: wave1 30s linear infinite;
  }
  .animate-wave2 {
    animation: wave2 40s linear infinite;
  }
  .animate-wave3 {
    animation: wave3 50s linear infinite;
  }
}
